body {
    margin: 0;

    
  }
  a {
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
    text-decoration: none;
}
.MuiAppBar-root {
  background-color: #f2B418 !important;
}
.MuiDrawer-paper{
    background-color: #f2b418 !important;
    color: #fff;
    font-family: "Poppins", sans-serif;
    width: 183px;
    font-size: 15px;
    font-weight: 500;
    align-items: center;
}

.pad10{
  padding: 0 10px;
}

